button{
    border: none;
    background-color: white;
    cursor: pointer;
}

#operator {
    font-size: 100px;
    font-weight: 900;
    position: relative;
    top: -38px;
    left: 15px;
}

.tab-content {
    background-color: #1D1C21;
    color: #BE3748;
    height: 250px;
    padding: 15px;
    overflow-y: scroll;
}

#nameInput{
    width: 230px;

}

#versus {

        font-size: 30px;
        font-weight: 700;
        text-align: center;        
    
}
